{% extends "base.html" %} {% block content %}
  {% if request.user.is_authenticated %}
    {% for message in messages %}
      <div class="flex">
        <p class="color-grey">{{ message.created_at }}</p>
        <div class="flex">{{ message.author.first_name }}: {{ message.text }}</div>
      </div>
    {% endfor %}
    <!-- Accent-colored raised button with ripple -->
    <!-- Simple Textfield -->
    <form action="/chat/" method="post">
      {% csrf_token %}
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" name="textmessage" type="text" id="sample1" />
        <label class="mdl-textfield__label" for="sample1">Text...</label>
      </div>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Send</button>
    </form>
  {% else %}
    <p>You are not logged in</p><br />
    Please click <a href="/login/">here</a>
  {% endif %}
{% endblock %}```
